# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.env.*
!.env.example
vendor
backend/vendor
backend/.env
backend/database/*.sqlite
backend/storage/*
!backend/storage/app
!backend/storage/app/public
!backend/storage/app/public/.gitkeep
!backend/storage/framework
!backend/storage/framework/cache
!backend/storage/framework/cache/.gitkeep
!backend/storage/framework/sessions
!backend/storage/framework/sessions/.gitkeep
!backend/storage/framework/views
!backend/storage/framework/views/.gitkeep
!backend/storage/logs
!backend/storage/logs/.gitkeep

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
